.btn-block-x-center {
    display: flex;
    justify-content: center;
}
.btn-block-x-start {
    display: flex;
    justify-content: flex-start;
}
.btn-block-x-end {
    display: flex;
    justify-content: flex-end;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: grey;
    padding: 0 15px;
    // min-width: 120px;
    height: 34px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.btn-green {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 146, 85);
    color: white;
    &:hover {
        background-color: rgb(0, 173, 101);
    }
}
.btn-blue {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(11, 67, 139); 
    color: rgb(11, 67, 139); 
}