@use "variables" as var;

.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    @media (max-width: var.$mobile-max) {  
        gap: 25px;
    }     
}

.categories-item {
    background-color: rgb(255, 243, 173);
    position: relative;
    width: 170px;
    height: 130px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.3);
    border: 1px solid  rgb(202, 191, 127);
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s;
    &__link {
        width: 100%;
        height: 100%;
        background-color: rgb(255, 243, 173);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(28, 98, 126);
        cursor: pointer;
    }
    &__title {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }
    &:hover {
        background-color:  rgb(255, 220, 124);
    }
    &__del {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 16px;
        height: 16px;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        cursor: pointer;
    }
    &__edit {
        background-color: transparent;
        // border: none;
        position: absolute;
        left: 5px;
        top: 5px;
        width: 16px;
        height: 16px;
        color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        cursor: pointer;  
    }
}

.category-photos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.category-photos-item {
    position: relative;
    width: 230px;
    height: 170px;
    @media (max-width: var.$mobile-max) {  
        width: 180px;
        height: 140px;
    } 
    &:hover &__header {
        opacity: 0.7;
    }  
    &:hover &__footer {
        opacity: 0.7;
    }  
    &:hover &__img-block::after {
        opacity: 0;
    } 
    &__header {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        background-color: #fff;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        padding: 0 10px;
        transition: 0.4s;
    }
    &__edit-btn {
        font-size: 12px;
        font-weight: 600;
        transition: 0.2s;
        color: rgb(0, 37, 201);
        &:hover {
            color: rgb(40, 79, 255);
        }        
    }
    &__del-btn {
        font-size: 12px;
        // font-weight: 600;
        color: rgb(192, 0, 0);
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: rgb(255, 85, 85);
        }
    }
    &__img-block {
        display: block;
        text-align: center;
        overflow: hidden;
        width: 230px;
        height: 170px;
        @media (max-width: var.$mobile-max) {  
            width: 180px;
            height: 140px;
        }         
        &::after {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            background-color: black;
            opacity: 0.2;
            width: 100%;
            height: 100%;
            transition: .4s;
        }         
        img {
            width: auto;
            height: 100%;
        }
    }
    &__footer {
        height: 24px;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0;       
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }
    &__title {
        font-size: 12px;
        font-weight: 600;
    }
}


// @media (min-width: $desktop-min) and (max-width: $desktop-max) {
      
// }     
// @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
       
// }           
// @media (max-width: $mobile-max) {  
             
// } 