.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.categories-item {
    width: 140px;
    height: 100px;
    position: relative;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.3);
    background-color: rgb(255, 243, 173);
    border: 1px solid  rgb(202, 191, 127);
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 12px;
    font-weight: 600;
    color: rgb(28, 98, 126);
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color:  rgb(255, 254, 186);
    }
    &__del {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 16px;
        height: 16px;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        cursor: pointer;
    }
}

.category-photos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.category-photos-item {
    position: relative;
    width: 230px;
    height: 170px;
    margin-bottom: 20px;
    &:hover &__header {
        opacity: 0.9;
    }  
    &:hover &__footer {
        opacity: 0.9;
    }  
    &:hover &__img-block::after {
        opacity: 0;
    } 
    &__header {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        background-color: #fff;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        padding: 0 10px;
        transition: 0.4s;
    }
    &__edit-btn {
        font-size: 12px;
        font-weight: 600;
        transition: 0.2s;
        color: rgb(0, 37, 201);
        &:hover {
            color: rgb(40, 79, 255);
        }        
    }
    &__del-btn {
        font-size: 12px;
        // font-weight: 600;
        color: rgb(192, 0, 0);
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: rgb(255, 85, 85);
        }
    }
    &__img-block {
        display: block;
        width: 230px;
        height: 170px;
        text-align: center;
        overflow: hidden;
        &::after {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            background-color: black;
            opacity: 0.2;
            width: 100%;
            height: 100%;
            transition: .4s;
        }         
        img {
            width: auto;
            height: 100%;
        }
    }
    &__footer {
        height: 24px;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0;       
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }
    &__title {
        font-size: 12px;
        font-weight: 600;
    }
}