@use "variables" as var;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var.$base-text-color;
}
main {
    padding: 0 20px;   
}

.header {
    // padding: 0 10px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    // @media (max-width: var.$mobile-max) {  
    //     flex-direction: column;
    // }   
    &__title {
        font-size: 24px;
    }  
}


.section {
    display: flex;
    justify-content: center;
}

.block {
    // border: 1px solid red;
    width: 100%;
}
.w-1 { width: 100px; }
.w-2 { width: 200px; }
.w-3 { width: 300px; }
.w-4 { width: 400px; }
.w-5 { width: 500px; }
.w-6 { width: 600px; }
.w-7 { width: 700px; }
.w-8 { width: 800px; }
.w-9 { width: 900px; }
.w-10 { width: 1000px; }
.w-11 { width: 1100px; }
.w-12 { width: 1200px; }
@media (max-width: var.$mobile-max) {  
    .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12 {
        width: 100%;
    }
}   

.text-center {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.notification {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-left: 30px;
    &__item {
        padding: 7px 10px;
    }
}
.notification-error {
    border: 2px solid rgb(255, 153, 153);
    background-color: rgb(255, 233, 233);
    color: rgb(228, 28, 28);
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    // height: 64px;
    align-items: center;
    gap: 10px;
    &__link {
        font-size: 26px;
        font-weight: 600;
        color: rgb(10, 112, 180);
        transition: 0.2s;
        &:hover {
            color: rgb(34, 166, 255);
        }
    }
    &__title {
        font-size: 26px;
        font-weight: 500;
        font-style: italic;
        color: rgb(57, 87, 105);
    }
}