@use "variables" as var;

.detail {
    // position: relative;
    &__pagination {
        display: flex;
        justify-content: space-between;
    }
    &__pagination-link {
        display: block;
        width: 50px;
    }
    &__description {
        font-size: 18px;
        color: rgb(57, 87, 105);        
    }
}

.detail__img-block {
    background-color: rgb(233, 233, 233);
    height: 600px;
    border: 3px solid rgb(165, 187, 201);
    text-align: center;
    img {
        height: 100%;
    }
    @media (max-width: var.$mobile-max) {     
        height: fit-content;  
        vertical-align: middle;  
        img {
            display: block;
            width: 100%;
            height: auto;
        }  
    }   

}

.photo-detail-actions-opener {
    // border: 1px solid red;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: rgb(238, 238, 238);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    }
    svg {
        width: 100%;
        height: 100%;
    }
}

.photo-detail-actions-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
    &._active {
        display: flex;
    }
}
.photo-detail-actions-modal {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
    width: 150px;
    padding: 10px 0;
    transition: 0.4s;
    &__edit, &__delete, &__cancel {
        padding: 10px;
        font-size: 18px;
        width: 100%;
        cursor: pointer;
        transition: 0.2s;
    }
    &__edit {
        display: block;
        color: blue;
        text-align: center;
        &:hover {
            background-color: blue;
            color: white;
        }
    }
    &__delete {
        color: red;
        &:hover {
            background-color: red;
            color: white;
        }        
    }
    &__cancel {
        color: grey;
        &:hover {
            background-color: grey;
            color: white;
        }  
    }
}