@use "variables" as var;

.detail {
    // position: relative;
    // &__pagination {
    //     display: flex;
    //     justify-content: space-between;
    // }
    // &__pagination-link {
    //     border: 2px solid #4281b4;
    //     border-radius: 5px;
    //     display: block;
    //     width: 80px;
    //     height: 35px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
    // &__pagination-icon {
    //     border: 3px solid rgb(165, 187, 201);
    //     width: 50px;
    // }
    &__title {
        text-align: center;
    }
    &__description {
        font-size: 18px;
        color: rgb(57, 87, 105);        
    }
}

.detail__img-block {
    background-color: rgb(233, 233, 233);
    height: 600px;
    width: fit-content;
    text-align: center;
    margin: 0 auto 20px;
    img {
        height: 100%;
        // max-width: 100%;
    }
    @media (max-width: var.$mobile-max) {     
        height: fit-content;  
        vertical-align: middle;  
        img {
            display: block;
            width: 100%;
            height: auto;
        }  
    }   

}

.photo-detail-actions-opener {
    // border: 1px solid red;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: rgb(238, 238, 238);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    }
    svg {
        width: 100%;
        height: 100%;
    }
}

.photo-detail-actions-wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 2;
    left: 0; right: 0; top: 0; bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
    &._active {
        display: flex;
    }
}
.photo-detail-actions-modal {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
    width: 200px;
    // padding: 15px 0;
    transition: 0.4s;
    &__edit, &__delete, &__cancel {
        padding: 20px 0;
        font-size: 22px;
        width: 100%;
        cursor: pointer;
        transition: 0.2s;
    }
    &__edit {
        display: block;
        color: blue;
        text-align: center;
        border-bottom: 1px solid rgb(201, 201, 201);
        &:hover {
            background-color: blue;
            color: white;
        }
    }
    &__delete {
        color: red;
                border-bottom: 1px solid rgb(201, 201, 201);
        &:hover {
            background-color: red;
            color: white;
        }        
    }
    &__cancel {
        color: grey;
        &:hover {
            background-color: grey;
            color: white;
        }  
    }
}

.detail-image-block {
    position: relative;
    &__pagination-link {
        // background-color: rgba(10, 83, 0, 0.2);
        // background-color: rgba(255, 255, 255, 0.7);
        position: absolute;
        top: 0;
        width: 44px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        @media (max-width: var.$mobile-max) {     
            width: 10%;
        }  
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
        &:hover {
            background-color: rgba(6, 48, 0, 0.2);
            border: 1px solid rgb(0, 95, 0);
        }
        &:hover a {
            opacity: 1;
        }
    }
    &__pagination-icon {
        // border: 1px solid white;
        // height: 50px;
        width: 34px;
        line-height: 8px;
        // opacity: 0.5;
        transition: 0.2s;
    }
}

.image-header {
    // border: 1px solid red;
    position: absolute;
    background-color: rgba(0, 31, 99, 0.2);
    box-shadow: 0 5px 10px 3px rgba(0, 31, 99, 0.2);
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        // border: 1px solid red;
        font-size: 22px;
        font-weight: normal;
        margin: 0;
        color: #fff;
    }
}



.photo-modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh; background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__close-btn {
        position: absolute;
        top: 20px;
        right: 30px; 
        color: #fff;
        font-size: 30px;
        cursor: pointer;
    }
    &__arrow-left {
        position: absolute;
        top: 44%;
        left: 50px;
        width: 34px;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        @media (max-width: var.$mobile-max) {  
            left: 10px;
            width: 28px;
        } 
    }
    &__arrow-right {
        position: absolute;
        top: 44%;
        right: 50px;
        width: 34px;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        @media (max-width: var.$mobile-max) {  
            right: 10px;
            width: 28px;
        }         
    }
    &__img {
        max-width: 80vw;
        max-height: 80vh;
        border-radius: 8px;
        @media (max-width: var.$mobile-max) {  
            max-width: 95vw;
            max-height: 95vh;
            border-radius: 0;
        } 
    }
}





// @media (min-width: $desktop-min) and (max-width: $desktop-max) {
      
// }     
// @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
       
// }           
// @media (max-width: $mobile-max) {  
             
// } 