@use "variables" as var;

.left-side {
    z-index: 3;
    background-color: #2e5d74;
    position: absolute;
    left: -250px;
    top: 0;
    bottom: 0;
    width: 250px;
    transition: 0.4s;
    @media (max-width: var.$mobile-max) {  
        left: -100%;
        width: 100%;    
    } 
    &._active {
        left: 0;
    }
    &__top-btn-block {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 54px;
        padding: 0 20px;
    }    
    &__close-btn {
        // border: 1px solid white;
        width: 20px;
        line-height: 8px;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
    &__title{
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgb(235, 235, 235);
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
    } 
}

.navigation {

    &__link {
        border-bottom: 1px solid rgb(86, 107, 128);
        display: block;
        color: rgb(235, 235, 235);
        font-size: 22px;
        letter-spacing: 1px;
        padding: 10px 30px;
        transition: 0.2s;
        @media (max-width: var.$mobile-max) {  
            font-size: 44px;   
        } 
        &:hover {
            background-color: #337b9e;
        }        
    } 
}

.auth-navigation {
    // border: 1px solid green;
    background-color: rgb(150, 204, 150);
    display: flex;
    &__link {
        display: block;
        color: rgb(18, 80, 116);
        font-size: 18px;
        letter-spacing: 1px;
        padding: 5px 5px 5px 30px;
        transition: 0.2s;
        &:hover {
            color: rgb(192, 255, 192);
        }
    } 
}