@use "variables" as var;

.left-side {
    z-index: 3;
    background-color: #2e5d74;
    position: absolute;
    left: -250px;
    top: 0;
    bottom: 0;
    width: 250px;
    transition: 0.4s;
    @media (max-width: var.$mobile-max) {  
        left: -100%;
        width: 100%;    
    } 
    &._active {
        left: 0;
    }
    &__top-btn-block {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 44px;
        padding: 0 10px;
    }    
    &__close-btn {
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
    &__title{
        text-transform: uppercase;
        letter-spacing: 1px;
        color: rgb(235, 235, 235);
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
    } 
}

.navigation {

    &__link {
        display: block;
        color: rgb(235, 235, 235);
        font-size: 20px;
        letter-spacing: 1px;
        padding: 10px 30px;
        transition: 0.2s;
        &:hover {
            background-color: #337b9e;
        }        
    } 
}