.search-header {
    // border: 1px solid rgb(22, 92, 119);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(136, 164, 180);
}

.search-block {

    display: flex;
    gap: 10px;
    width: fit-content;
    &__input-block {
        // border: 1px solid rgb(42, 77, 122);
        border-radius: 5px;
        height: 34px;
        width: 250px;
        input {
            border-radius: 5px;
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            padding-left: 10px;
        }
    }
    &__btn {
        border: 2px solid #eee;
        color: #fff;
        border-radius: 5px;
        padding: 0 10px;
    }
}
