@use "variables" as var;

.top-panel {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgb(95, 125, 138);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    height: 44px;
    padding: 0 20px;

    @media (max-width: var.$mobile-max) {  
        height: 50px;
    }
    &__false-layer {
        height: 44px;
        @media (max-width: var.$mobile-max) {  
            height: 50px;
        }        
    }
    
    &__menu-opener {
        // border: 1px solid white;
        width: 24px;
        line-height: 12px;
        cursor: pointer;
    }

    &__search {
        display: flex;
        gap: 5px;
    }
    
    &__search-icon {
        // border: 1px solid white;
        width: 26px;
        line-height: 8px;
    }

    &__auth-opener {
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
    &__auth-label {
        @media (max-width: var.$mobile-max) {  
            display: none;
        }         
    }
    &__auth-icon {
        display: none;
        @media (max-width: var.$mobile-max) {  
            width: 24px;
            line-height: 12px;
            display: block;
        }
    }
}



// @media (min-width: $desktop-min) and (max-width: $desktop-max) {
      
// }     
// @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
       
// }           
// @media (max-width: $mobile-max) {  
             
// } 