@use "variables" as var;

.users {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    // gap: 50px;
    // margin-bottom: 20px;
}

.users-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 34px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px 1px rgb(0, 0, 0, 0.1);
    background-color: rgb(240, 239, 235);
    border: 1px solid  rgb(184, 184, 184);
    border-radius: 5px;
    padding: 0 12px;
    font-weight: 600;
    color: rgb(28, 98, 126);

    &__name {
        color: rgb(25, 75, 95);
        // border: 1px solid green;
        flex: 0 0 180px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            color:  rgb(0, 130, 182);
        }
    }
    &__email {
        // border: 1px solid green;
        flex: 0 0 180px;
        font-weight: normal;
        @media (max-width: var.$mobile-max) {  
            display: none;
        }         
    }    
    &__del {
        background-color: transparent;
        border: none;
        color: red;
        font-size: 14px;
        cursor: pointer;
    }
}

.user-detail-element {
    // border: 1px solid orange;
    &__key {
        font-weight: 600;
        margin-right: 20px;
        color: rgb(38, 48, 65);
    }
    &__value {
        color: rgb(36, 66, 110);
    }
}